{% extends 'paintings/base.html' %}
{% load static %}
{% load custom_tags %}

{% block keywords %}{{ block.super }}, announcement, {{ announcement|keywords }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row piece-row">
            <div class="col-md-9">
                <h1>{{ announcement.title }}</h1>
                <span class="sub-info">{{ announcement.date }}</span>
                <p>{{ announcement.description }}</p>
            </div>
        </div>
    </div>
{% endblock %}