# Python compiled sources and objects
*.py[cod]

# Packages
*.egg
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# PyCharm
.idea
.idea/*
woodypage/settings/settings.json
.DS_Store
paintings/migrations/0001_initial.py
paintings/migrations/0002_auto_20160703_2230.py
paintings/migrations/0003_auto_20160703_2233.py
paintings/migrations/0004_word.py
~/
