{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block page-title %}{% endblock %}Woody Shepherd</title>

    <meta name="description" content="Woody Shepherd is a contemporary painter exhibiting in galleries and museums internationally.">
    <meta name="keywords" content="woody, shepherd, paint, painting, nature, contemporary, art, exhibitions">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">

    {% block styles %}
        <link href="{% static 'paintings/css/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'paintings/css/style.css' %}" rel="stylesheet">
    {% endblock %}
</head>

<body>
{% block main-navigation %}
    <div id="nav-section{% if active_navigation %}-{{ active_navigation }}{% endif %}" class="container">
        <div class="row top-navbar">
            <header class="navbar-header">
                <a class="navbar-brand" href="{% url 'home' %}">WOODY SHEPHERD</a>
            </header>
            <nav class="navbar-links">
                <ul class="nav navbar-nav navbar-right">
                    {% block navigation_items %}
                        <li id="nav-works"><a href="{% url 'paintings' %}">WORKS</a></li>
                        <li id="nav-words"><a href="{% url 'featured_word' %}">WORDS</a></li>
                        <li id="nav-contact"><a href="{% url 'contact' %}">CONTACT</a></li>
{#                      <li id="nav-shop"><a href="#">SHOP</a></li>#}
                    {% endblock %}
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}

{% block subnavigation %}
    <div id="subnav-section{% if active_subnavigation %}-{{ active_subnavigation }}{% endif %}" class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav-page-category">
                    {% block subnavigation-items %}
                    {% endblock %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>Copyright Woody Shepherd @ 2016</p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}

{% block scripts %}
    <script src="{% static 'paintings/js/libraries/jquery-1.11.3.min.js' %}"></script>
    <script src="{% static 'paintings/js/libraries/bootstrap.min.js' %}"></script>
{% endblock %}

</body>
</html>