{% extends 'paintings/base.html' %}
{% load static from staticfiles %}

{% block navigation %}
    {% with 'contact' as active_navigation %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-12 ">
                <ul class="links-list">
                    <li>
                        <strong>CONTACT</strong>
                    </li>
                    <li>
                        <a href="#">facebook.com/woodyshepherd</a>
                        <span class="contact-label"><small>Facebook</small></span>
                    </li>
                    <li>
                        <a href="#">woodyshepherd@hotmail.com</a><span class="contact-label"><small>Email</small></span>
                    </li>
                    <li>
                        <a href="#">(205) 910-7356</a>
                        <span class="contact-label"><small>Phone</small></span>
                    </li>
                    <li>Woody Shepherd Studio<br>2590 N. 230 E.<br>
                        North Logan, UT 84341<span class="contact-label"><small>Mailing Address</small></span>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <ul class="links-list">
                    <li><strong>LINKS</strong></li>
                    <li><a href="#">Utah State University Art Department</a></li>
                    <li><a href="#">Utah State University (Drawing & Painting Gallery)</a></li>
                    <li><a href="#">Utah State University (Woody Shepherd)</a></li>
                    <li><a href="#">Nora Eccles Harrison Museum of Art</a></li>
                    <li><a href="#">Rhode Island School of Design, Painting Department</a></li>
                    <li><a href="#">Imago Gallery</a></li>
                    <li><a href="#">Nik Vlahos</a></li>
                    <li><a href="#">Christian Curiel</a></li>
                    <li><a href="#">Kurt Kauper</a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="links-list">
                    <li class="hidden-xs hidden-sm">&nbsp;</li>
                    <li><a href="#">Nik Vlahos</a></li>
                    <li><a href="#">Christian Curiel</a></li>
                    <li><a href="#">Kurt Kauper</a></li>
                    <li><a href="#">Ethan Greenbaum</a></li>
                    <li><a href="#">Peter Halley</a></li>
                    <li><a href="#">Jane Catlin</a></li>
                    <li><a href="#">Christopher Terry</a></li>
                    <li><a href="#">James Gillispie</a></li>
                    <li><a href="#">Karla Wozniak</a></li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}