{% extends 'paintings/works.html' %}
{% load static %}

{% block keywords %}{{ block.super }}, gallery{% endblock %}

{% block subnavigation-items %}
    <li id="subnav-paintings"><a href="{% url 'paintings' %}">Paintings</a></li>
    <li id="subnav-exhibitions"><a href="{% url 'exhibitions' %}">Exhibitions</a></li>
    <li id="subnav-videos"><a href="{% url 'videos' %}">Videos</a></li>
{% endblock %}

{% block content %}
    <div class="container">
        {% block gallery-items %}

        {% endblock %}

        <div class="col-md-12 load-more-div">
            <a class="load-more-button"><span class="small"><strong>LOAD MORE</strong></span></a>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script>
        $(document).ready(function(){
            var maxPieceCount = 16;
            var loadMoreButton = $('div.load-more-div');
            var pieces = $('div.works-gallery div.gallery-thumbnail');
            if (pieces.length > maxPieceCount) {
                loadMoreButton.show();
                loadMoreButton.on('click', function() {
                    var notShown = pieces.filter(function() { return $(this).css('display') == 'none'; });
                    notShown.slice(0, maxPieceCount).show();
                    if (notShown.length <= maxPieceCount) {
                        loadMoreButton.hide();
                    }
                });
            }
        });
    </script>
{% endblock %}
