{% extends 'paintings/base.html' %}
{% load static %}

{% block keywords %}{{ block.super }}{% endblock %}

{% block styles %}
    {{ block.super }}
    <style>
        .home-background {
            background-image: url('{{ background_image.image.url }}');
        }
    </style>
{% endblock %}

{% block content %}
    <!--JUMBOTRON - BACKGROUND + CONTENT-->
    <div class="jumbotron home-background">
        <div class="container">
            <div class="row">
                {% if active_announcement %}
                    <section class="col-md-5 home-announcement">
                        <h2 class="announcement-title"><a href="{% url 'announcement' active_announcement.pk %}">{{ active_announcement.title }}</a></h2>
                        <span class="announcement-date">{{ active_announcement.date }}</span>
                        <p class="small">{{ active_announcement.short_description }}</p>
                        <p class="small"><a href="{% url 'announcement' active_announcement.pk %}">Read full note...</a></p>
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </section>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script>
        $(document).ready(function(){
            $('.glyphicon-remove').click(function(){
                $('.home-announcement').css("display","none");
            });
        });
    </script>
{% endblock %}