<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Woody Shepherd - Piece</title>
<link href="../../static/paintings/css/bootstrap.css" rel="stylesheet">
<link href="../../static/paintings/css/style.css" rel="stylesheet">
</head>

<body>
<!--TOPBAR-->
<div class="container">
  <div class="row top-navbar">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topnav-toggle-button"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand" href="#">WOODY SHEPERD</a> </div>
    <div class="collapse navbar-collapse" id="topnav-toggle-button">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">WORKS</a></li>
        <li><a href="#">WORDS</a></li>
        <li><a href="#">CONTACT</a></li>
        <li><a href="#">SHOP</a></li>
      </ul>
    </div>
  </div>
</div>

<!--STYLE SHEET-->
<div class="container">
  <div class="row piece-row">
    <div class="col-md-8 piece-area"> <img src="../../static/paintings/img/piece_1.jpg" class="img-responsive"> </div>
    <div class="col-md-4">
      <h4>Wasatch Falls</h4>
      <ul class="piece-info-list">
        <li>2008</li>
        <li>Oil and acrylic on hardwood panel</li>
        <li>2" x 72"</li>
      </ul>
    </div>
  </div>
</div>

<!--FOOTER-->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>Copyright Woody Shepherd @ 2015</p>
      </div>
    </div>
  </div>
</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> 
<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="../../static/paintings/js/bootstrap.min.js"></script>
</body>
</html>
