{% extends 'paintings/base.html' %}
{% load static from staticfiles %}

{% block navigation %}
    {% with 'words' as active_navigation %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-md-3">
                <ul class="links-list">
                    <li><strong>WORDS</strong></li>
                    {% for word in sticky_words %}
                        <li><a href="{% url 'words' word.pk %}">{{ word.title }}</a></li>
                    {% endfor %}

                    {% for word in words_list %}
                        <li class="hidden-xs"><a href="{% url 'words' word.pk %}">{{ word.title }}</a></li>
                    {% endfor %}

                    <li class="visible-xs"><span>View All Words Entries</span></li>
                </ul>
            </div>
            <div class="col-sm-9 col-md-9 words-container">
                <h3>{{ object.title }}</h3>
                <p>{{ object.content }}</p>
            </div>
        </div>
    </div>
{% endblock %}