{% extends 'paintings/gallery.html' %}
{% load static %}


{% block subnavigation %}
    {% with 'paintings' as active_subnavigation %}
        {{ block.super }}
    {% endwith %}
{% endblock %}


{% block gallery-items %}
    <div class="row works-gallery">
        {% for painting in paintings %}
            <div class="col-xs-6 col-sm-4 col-md-3 gallery-thumbnail">
                <a href="{% url 'painting' painting.pk %}" class="thumbnail">
                    <img src="{{ painting.image_thumbnail.url }}" alt="{{ painting.title }}">
                </a>
                <div class="gallery-thumbnail-bar">
                    <div class="gallery-thumbnail-title">
                        <a href="{% url 'painting' painting.pk %}"><span class="text-italic">{{ painting.title }}</span></a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
