{% extends 'paintings/gallery.html' %}
{% load static %}
{% load custom_tags %}


{% block subnavigation %}
    {% with 'videos' as active_subnavigation %}
        {{ block.super }}
    {% endwith %}
{% endblock %}


{% block gallery-items %}
    <div class="row works-gallery">
        {% for video in videos %}
            <div class="col-xs-6 col-sm-4 col-md-4 gallery-thumbnail">
                <a href="{% url 'video' video.pk %}" class="thumbnail">
                    <img src="{{ video.video_link|youthumbnail }}" alt="...">
                </a>
                <div class="gallery-thumbnail-bar">
                    <div class="gallery-thumbnail-title">
                        <a href="{% url 'video' video.pk %}"><span class="text-italic">{{ video.title }}</span></a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
