{% extends 'paintings/works.html' %}
{% load static %}
{% load embed_video_tags %}
{#{% load custom_tags %}#}

{% block navigation %}
    {% with 'works' as active_navigation %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row piece-row">

            <div class="col-md-12 video-wrapper">
                {% video video.video_link 'large' %}
            </div>
            <div class="col-md-12">
                <span style="display:block; margin:15px 0; text-align:center;">
                    <a href="{% if previous %} {% url 'video' previous.id %} {% endif %}" style="float: left; padding-right: 30px;">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    </a>
                    <a href="{% url 'videos' %}" style="padding-left:15px; padding-right: 15px;">
                        <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
                    </a>
                    <a href="{% if next %} {% url 'video' next.id %} {% endif %}" style="float: right; padding-left:30px;">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    </a>
                </span>
            </div>
            <div class="col-md-9">
                <h1 class="piece-title">{{ video.title }}</h1>
                <ul class="piece-info-list">
                    <li>{{ video.date.year }}</li>
                    <li><p>{{ video.description }}</p></li>
                </ul>

                <p><a href="#" class="share-link">Share</a></p>

                <div class="share-dropdown">
                    <ul>
                        <li>
                           <a href="http://www.facebook.com/sharer/sharer.php?u=http://google.com&t=Check out Woody Shepherd's piece '{{ piece.title }}'"
                           target="_blank">Post on Facebook</a>
                        </li>
                        <li>
                           <a href="https://twitter.com/intent/tweet?text=Check out Woody Shepherd's piece '{{ piece.title }}' http://url.com"
                           target="_blank">Post on Twitter</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script>
        $(document).ready(function () {
            var shareactive = 0; // 0 false 1 ture
            $('.share-link').click(function () {
                if (shareactive == 0) {
                    $('.share-dropdown').css('display', 'block');
                    shareactive = 1;
                }
                else {
                    $('.share-dropdown').css('display', 'none');
                    shareactive = 0;
                }
            });
        });
    </script>
{% endblock %}