{% extends 'paintings/gallery.html' %}
{% load static %}
{% load embed_video_tags %}


{% block subnavigation %}
    {% with 'videos' as active_subnavigation %}
        {{ block.super }}
    {% endwith %}
{% endblock %}


{% block gallery-items %}
    <div class="row works-gallery">
        {% for video_entry in videos %}
            {% video video_entry.video_link as embed_video %}
            <div class="col-xs-6 col-sm-4 col-md-4 gallery-thumbnail video-thumbnail-container">
                <a href="{% url 'video' video_entry.pk %}" class="thumbnail">
                    <img src="{{ embed_video.thumbnail }}" alt="...">
                </a>
                <div class="gallery-thumbnail-bar">
                    <div class="gallery-thumbnail-title">
                        <a href="{% url 'video' video_entry.pk %}"><span class="text-italic">{{ video_entry.title }}</span></a>
                    </div>
                </div>
            </div>
            {% endvideo %}
        {% endfor %}
    </div>
{% endblock %}
