{% extends 'paintings/works/works.html' %}
{% load static from staticfiles %}


{% block subnavigation %}
    {% with 'exhibitions' as active_category %}
        {{ block.super }}
    {% endwith %}
{% endblock %}


{% block gallery %}
    <div class="row works-gallery">
        {% for exhibition in exhibitions %}
            <div class="col-xs-6 col-sm-4 col-md-3 gallery-thumbnail">
                <a href="{% url 'exhibition' exhibition.pk %}" class="thumbnail">
                    {% for image in exhibition.images.all %}
                        <img src="{{ image.image_thumbnail.url }}" alt="{{ image.title }}">
                    {% endfor %}
                </a>
                <div class="gallery-thumbnail-bar">
                    <div class="gallery-thumbnail-title">
                        <a href="{% url 'exhibition' exhibition.pk %}"><span class="text-italic">{{ exhibition.title }}</span></a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
