{% extends 'paintings/works/works.html' %}
{% load static from staticfiles %}
{% load custom_tags %}


{% block subnavigation %}
    {% with 'videos' as active_category %}
        {{ block.super }}
    {% endwith %}
{% endblock %}


{% block gallery %}
    <div class="row works-gallery">
        {% for video in videos %}
            <div class="col-xs-6 col-sm-4 col-md-3 gallery-thumbnail">
                <a href="" class="thumbnail">
                    <img src="{{ video.video_link|youthumbnail }}" alt="...">
                </a>
            </div>
        {% endfor %}
    </div>

    <div class="col-md-12 load-more-bar">
        <a href="#"><span class="small"><strong>LOAD MORE</strong></span></a>
    </div>
{% endblock %}